<!DOCTYPE html>
<html lang="en">
<head>
    <title>Techno Mindz</title>
</head>
<body>
    <form method="get">
    First Name : <input type="text" name="firstname" required><br>
    Last Name : <input type="text" name="lastname" required><br>
    Email : <input type="email" name="email" required><br>
    Password : <input type="password" name="password" minlength="5" required><br>
    BornDay : <input type="date" name="birthday"><br>
    Gender : <br>
    <input type="radio" name="gender" value="Male">Male<br>
    <input type="radio" name="gender" value="Female">FeMale<br>
    <input type="radio" name="gender" value="Transgender">Other<br>
    Pets : <br>
    <input type="checkbox" name="Cat">Cat<br>
    <input type="checkbox" name="Dog">Dog<br>
    Mode Of Transport : <br>
    <select name="Transport">
        <option value="None" name="null">None</option>
        <option value="Bus" name="Bus">Bus</option>
        <option value="Car" name="Car">Car</option>
        <option value="Bike" name="Bike">Bike</option>
        <option value="Cycle" name="Cycle">Cycle</option>
        <option value="Train" name="Train">Train</option>
        <option value="Walk" name="Walk">Walk</option>
        <option value="Metro" name="Metro">Metro</option>
    </select><br>
    <input type="submit" value="Register">
    <input type="reset" value="CLEAR">
    </form>
</body>
</html>